*{
	color: #333;
	font-family: sans-serif;
}

h1{
	font-size: 1.8em;
	padding: 0 0 0 7%;
}

h3{
	font-size: 1em;
	padding: 0 0 0 7%;
}

.container{
	margin: 6% auto;
	width: 67.5%; /*960px*/
	background-color: #EEE;
	border-top: 8px solid #777;
	border-radius: 0 0 10px 10px;
}

	.section{
		padding: 5% 5%;
	}

	.header{
		border-bottom: 1px solid #CCCCCC;
	}

	.social{
		padding: 5% 0 0 58%;
	}

	.github{
		transition: opacity 0.5s;
	}

	.article{
		border-bottom: 1px solid #CCCCCC;
	}

	.article div{
		margin: 4% 0;
	}

	.article p.content-head{
		padding: 0 0 0 8%;
		font-style: italic;
		font-size: em;
	}

	.article p, .site-portfolio{
		padding: 0 0 0 8%;
		font-style: italic;
		font-size: 1em;
	}

@media all and (max-width: 480px) {
	h1{
		font-size: 1em;
		padding: 0 0 0 8%;
	}

	h3{
		font-size: 0.75em;
		padding: 0 0 0 8%;
	}


	.article div{
		margin: 2% 0;
	}

	.article p, .site-portfolio{
		font-size: 0.7em;
	}
	.social{
		padding: 0 0 0 8%
	}

	.facebook, .github, .twitter{
		width: 16px;
		height: 16px;
	}
}